<div class="main-container">
  <app-header></app-header>
  <div class="ui container">
    <div class="headline-container">
      <div class="ui stackable grid">
        <div class="ten wide column">
          <h2 class="ui header-text">Welcome to FLPredictor!</h2>
          <span class="message-text">
            Predict how the league table will look at the end of <u><b>2021/2022</b></u> season for your favorite footballing league and share it with your friends.
          </span>
          <br/>
          <button routerLink="/prediction/chooseLeague" style="margin-top: 40px;" class="positive ui button">Start predicting !</button>
         </div>
      </div>
    </div>
    <div class="footer">
      <div class="contribute-container">
        <a href="https://github.com/asv1997/flpredictor">
          <span href="https://github.com/asv1997/flpredictor" class="contribute-text">
            Contribute to our project <i class="github icon"></i>
          </span>
        </a>
      </div>
    </div>

  </div>
</div>


